html, body,#root{
  background: rgb(52,70,94);
  background: linear-gradient(180deg, rgba(52,70,94,1) 0%, rgba(65,146,131,1) 35%, rgba(65,146,131,1) 100%);
}

h4,.form-label, .py-5, .pt-5{
  color:#78cbe4 !important;
}

.pt-5 a{
  color:rgb(54, 49, 49);
}

.btn{background-color: rgb(54, 49, 49); border:gray;}

.btn:hover{background-color: black; border:black;}

select, option{color:gray !important;}

